*{
        box-sizing: border-box;
}
body{
 
}
.qari{
        display: none;
}

/* ......................... menu ....................... */
#open{
        display: none;
        top: 18%;
        left: -18%;
        
}
.desing_css{
        background-color: #663c00;
        height: 320px;
        border-radius: 10px;
       
} 
.desing_css nav li{
        padding: 10px;
}
.desing_css nav a{
        color: white;
        text-decoration: none;
        
}
#show_2{
        background-color: white;
        position: fixed;
        width: 200px;
        height: 200px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        opacity: 1;
        color: black;
}
.nav_{
        width: 100%;
        position: fixed;
        overflow: hidden;
}
.invoice{
        position: relative;

}
.ssdd{

}

.navbar{
        display: block;
}
.navbar a{
        
        text-decoration: none;
}
.text_{
        font-size: 10px;
}

/* ............. menu  bar icon  */
.btn_bar{
        display: none;
}
/* .............................. responsitive for mobile ............. */
@media only screen and (max-width: 600px) {
        body{
          
                overflow-x: hidden;
               
        }
        .sec_2{
                display: grid;
                grid-template-columns: auto auto auto;
        }
        .mob{
                display: none;
        }
      
        .btn_bar{
                display: block;
                 margin-top: 20px;
                 font-size: 25px;
                 cursor: pointer;
                
        }
      
        
        
        
        .navbar{
                display: none;
        }
       .inpu_mob{
        width: 200px;
       
       
       }
       .h_1{
        font-size: 30px;
        padding-right: 20px;
       }
       .float_rigt{
       
        font-size: 10px;
        display: flex;
        flex-direction: column;
        
}
.foat_right_2{
       
        display: flex;
        flex-direction: column;
       
}
#baroobo{
        width: 400px;
        height: 80%;
   
        overflow-x: scroll;
        background-color: green;
       
}

#open{
        display: none;
        top: 18%;
        left: -2%;
        
}
.desing_css{
        background-color: #663c00;
        height: 320px;
        width: 160px;
        border-radius: 10px;
       
} 




}
        

        /* .................................................desing for Tablet............. */
        
        @media (min-width: 600px) and (max-width: 1024px) {
        
                .navbar{
                        display: none;
                }

                .float_rigt{
                      
                        font-size: 15px;
                        display: flex;
                        flex-direction: column;
                }
                .foat_right_2{
                        
                        display: flex;
                        flex-direction: column;
                }

                .btn_bar{
                        display: block;
                        margin-top: 20px;
                        font-size: 25px;
                        cursor: pointer;
                }
              
        
        }

